h1 {
    color: #333; /* Cor do texto */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    text-align: center; /* Alinhamento do texto */
    margin-top: 20px; /* Margem superior */
    margin-bottom: 20px; /* Margem inferior */
}
